.btn-container-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80px;
}

.btn-container-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80px;
}

.listeners-container {
  display: flex;
  justify-content: center;
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.6;
  letter-spacing: .16em;
  line-height: 16px;
  padding-top: 100px;
}

.img-header {
  display: flex;
  flex-direction: column;
  // background-size: auto;
  height: 360px;
  width: auto;
}

.title {
  display: flex;
  justify-content: center;
  color:  #fff;
  font-family: Arial, Helvetica Neue, sans-serif;
  font-size: 72px;
  margin: 0px 166px;
  line-height: 82px;
  letter-spacing: -.005em;
  text-transform: capitalize;

}

.btn-play {
  color: #FFFFFF;
  font: 11px;
  height: 39px;
  background-color: #1DB954;
  border-color: #1DB954;
  text-transform: uppercase;
  margin-top: 16px;
  margin-bottom: 0px;
  margin-right: 15px;
  margin-left: 0px;
  padding: 11px 44px;
  border-radius: 500px;
  transition: transform .2s;
  letter-spacing: .1em;
}

.btn-save {
  color: #FFFFFF;
  font: 11px;
  height: 39px;
  background-color: rgba(24, 24, 24, 0.7);
  text-transform: uppercase;
  margin-top: 16px;
  margin-bottom: 0px;
  margin-right: 15px;
  margin-left: 0px;
  padding: 11px 44px;
  border-radius: 500px;
  border-width: 2px;
  transition: transform .2s;
  letter-spacing: .1em;
}

.btn-play:hover, .btn-save:hover {
  filter: brightness(120%);
  transform: scale(1.05);
}

.dropdown {
  display: flex;
  color: #FFFFFF;
  font: 9px;
  height: 39px;
  background-color: rgba(24, 24, 24, 0.7);
  background-color: Transparent;
  margin-top: 25px;
  margin-bottom: 0px;
  margin-right: 15px;
  margin-left: 0px;
  padding: 11px 0px;
  border-width: 2px;
  border-radius: 500px;
  height: 51;
  width: 64;
}

.menu-option {
  color: #B3B3B3;
  margin: 0px 0px 3px 0px;
  border-width: 125%;
  height: 125%;
  width: 100%;
  padding: 3px 20px;
  clear: both;
  line-height: 32px;
  white-space: nowrap;
  background: 0 0;
  border: 0;
  cursor: default;
}

.menu-option:hover {
  color: #FFF;
  background-color: #333;
  border-color: #333;
  width: auto;

}

.fa-ellipsis-h {
  display: flex;
  justify-content: flex-start;
  transform: scale(1.10);
}

.fa-ellipsis-h:hover {
  transform: scale(1.20);
}

.btn-overview {
  color: #FFFFFF;
  opacity: 0.6;
  background-color: Transparent;
  border: none;
  font: 12px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: .16em;
  margin: 10px;
  padding: 5px 10px;
  border-bottom: 3px solid Transparent;
}

.btn-related-artists {
  color: #FFFFFF;
  opacity: 0.6;
  background-color: Transparent;
  border: none;
  font: 12px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: .16em;
  margin: 10px;
  padding: 5px 10px;
  border-bottom: 3px solid Transparent;
}

.btn-about {
  color: #FFF;
  opacity: 0.6;
  background-color: Transparent;
  border: none;
  font: 12px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: .16em;
  margin: 10px;
  padding: 5px 10px;
  border-bottom: 3px solid Transparent;

}

.btn-play:focus, .btn-save:focus {
  outline: 0;
}

.btn-overview:hover, .btn-related-artists:hover, .btn-about:hover {
  opacity: 0.8;
}

.btn-overview:focus, .btn-related-artists:focus, .btn-about:focus {
  outline:0;
  border-bottom: 3px solid #1DB954;
  opacity: 1;
}

.body-component  {
  display:flex;
  justify-content: center;
  font: white;
}